.full-screen-preview{height:100%;padding:0px;margin:0px;overflow:hidden}.full-screen-preview__frame{width:100%;background-color:white}.full-screen-preview__frame.-ios-fix{width:10px;min-width:100%;-webkit-overflow-scrolling:touch;height:100% !important}.preview__header{font-size:12px;height:54px;background-color:#262626;z-index:100;line-height:54px;margin-bottom:1px}.preview__envato-logo{float:left;padding:0 20px}.preview__envato-logo a{display:inline-block;position:absolute;top:18px;text-indent:-9999px;height:18px;width:152px;background:url(/assets/logos/envato_market-dd390ae860330996644c1c109912d2bf63885fc075b87215ace9b5b4bdc71cc8.svg);background-size:152px 18px}@media (max-width: 568px){.preview__envato-logo{padding:0 10px}.preview__envato-logo a{position:absolute;top:20px;left:15px;height:14px;width:118px;background-size:118px 14px}}.preview__actions{float:right;margin-right: 20px;}.preview__action--close,.preview__action--buy{display:inline-block;padding:0 20px}@media (max-width: 568px){.preview__action--buy{padding:0 10px}}.preview__action--purchase-form{display:inline-block}.preview__action--item-details{display:inline-block}.preview__action--close{border-left:1px solid #333333}.preview__action--close a{color:#999999;text-decoration:none}.preview__action--close a:hover{color:white}.preview__action--close a i{color:white;font-size:10px;margin-right:10px}@media (max-width: 568px){.preview__action--close a i{margin-right:0}}@media (max-width: 568px){.preview__action--close a span{display:none}}.screenshots{padding:80px 10px 25px}.screenshots__thumbnail{display:inline-block;margin:0 10px 20px 0;border:1px solid #333333;line-height:0}.screenshots__thumbnail:hover{border:1px solid #666666}.screenshots__fullsize{display:inline-block;margin:20px 0;border:1px solid #333333;line-height:0}.screenshots__fullsize>img{max-width:100%}.screenshots__description{max-width:1024px;margin-top:20px;color:white}


.cookieconsent-optin,
.cookieconsent-optin-preferences,
.cookieconsent-optin-statistics,
.cookieconsent-optin-marketing {
  display: block;
  display: initial;
}

.cookieconsent-optout-preferences,
.cookieconsent-optout-statistics,
.cookieconsent-optout-marketing,
.cookieconsent-optout {
  display: none;
}


.question {
  display: none
}

a.hiddenajaxlink {
  display: none
}

.preview__actions * {
  color: white!important;
}


#mainmenu li *{
  color: #19357f!important;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#mainmenu li *:hover{
  background-color: lightgray;
}

.dropdown ul {
  background-color: white!important;
  border-bottom-left-radius: 10px!important;
  border-bottom-right-radius: 10px!important;
}

.dropdown ul li:hover{
  background-color: rgb(236, 236, 236);
}

#menu li a.selected {
  text-decoration: underline;
  color: #56acdd!important;
}

header {
  height: 100px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

#content-wrapper.bg {
  background-image: url(../img/3.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#form-request {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

p, a, form label, form input, form button, form textarea {
  font-size: 17px!important;
}