.contact-modal {
  display: none;
  /* display: flex; */
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 350px;
  margin: 0 10px;
  text-align: center;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#modal-text {
  padding: 0;
}