
.slider-container2 {
    width: 436px;
    height: 250px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.slider2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .slider2 img {
        width: 446px;
        height: auto;
    }

.buttonms1 {
    position: absolute;
    top: 44%;
    left: 5px;
    width: 32px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.buttonms2 {
    position: absolute;
    top: 44%;
    right: 5px;
    width: 32px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-img-text2 {
    position: absolute;
    color: white;
    bottom: 32px;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, #000000c9 58.24%, #000 100%);
    width: 446px;
}

    .slider-img-text2 p {
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        margin: 12px 0px 5px 12px;
        padding-right: 12px;
        font-family: sans-serif;
        background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, #000000c9 58.24%, #000 100%);
    }


.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 32px;
    background: black;
    align-content: center;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
    cursor: pointer;
}

    .dot.active {
        background-color: red;
    }


